
Essensplan/obj/Debug/netcoreapp2.0/Essensplan.csprojAssemblyReference.cache
Essensplan/obj/Debug/netcoreapp2.0/Essensplan.csprojAssemblyReference.cache
Essensplan/obj/Debug/netcoreapp2.0/Essensplan.assets.cache
.vs/Connext_Campus/v15/Server/sqlite3/storage.ide-wal
.vs/Connext_Campus/v15/Server/sqlite3/storage.ide-shm
.vs/Connext_Campus/v15/Server/sqlite3/storage.ide
.vs/Connext_Campus/v15/.suo
*.lock
*.ide-shm
*.ide-shm
*.ide-wal
*.json
*.dll
*.pdb
.vs/Connext_Campus/v15/.suo
*.ide-shm
*.cache
*.props
*.targets
*.targets
